In [181]:
input= "ab$24%736(849ldj"
                
                          
output_string = input_string[::-1]
output_string

'jdl948(637%42$ba'

In [159]:
len(input_string)

16

In [150]:
'('.isalnum()

False

In [151]:
empty = []
for c in input_string:
    if c.isalnum():
        empty.append(c)
        
print(empty)
print(empty[::-1])
        
    
for i in len()

['a', 'b', '2', '4', '7', '3', '6', '8', '4', '9', 'l', 'd', 'j']
['j', 'd', 'l', '9', '4', '8', '6', '3', '7', '4', '2', 'b', 'a']

In [180]:
input_string

'ab$24%736(849ldj'

In [179]:
length = len(input_string)

end = length-1

In [172]:
def swap(input_string):
    
    length = len(input_string)

    end = length-1
    
    
    while length< end :
        p
        if not input_string[length].isalnum():
            length+=1
        
        elif not input_string[end].isalnum():
            end-=1
        
        else:
            x = input_string[length],
            input_string[length] = input_string[end], 
            input_string[end] = x
            
            length+=1
            end+=1
        
    return input_string

In [171]:
length = len(input_string)

end = length-1

In [176]:
while length< end :
    print(length, end)
    if not input_string[length].isalnum():
        lenght+=1
        print('x')
        
    elif not input_string[end].isalnum():
        end-=1
        print('Y')
        
    else:
        print('z')
        x = input_string[length],
        input_string[length] = input_string[end], 
        input_string[end] = x
            
        length+=1
        end+=1

In [173]:
swap(input_string)

'ab$24%736(849ldj'

In [162]:
not 'a'.isalnum()

False

In [144]:

def reverseSting(text):
    index = -1
 
    # Loop from last index until half of the index    
    for i in range(len(text)-1, int(len(text)/2), -1):
 
        # match character is alphabet or not        
        if text[i].isalnum():
            temp = text[i]
            while True:
                index += 1
                if text[index].isalpha():
                    text[i] = text[index]
                    text[index] = temp
                    break
    return text

In [145]:
string = "ab$24%736(849ldj"

string = reverseSting(list(string))
print ("Output string: ", "".join(string))

IndexError: list index out of range

**Question 4:**

Given a collection like ‘list_a’ remove the elements with maximum frequency if multiple elements 
are of same frequency remove the element which comes first in the collection or the first element 
from left.

Like for example list_a = [0,0,2,2,3,3,8,2,7]

the resulting list is = [0,0,2,3,3,8,2,7

In [131]:
list_a = [0,0,2,2,3,3,8,2,7]

In [132]:
def remove_most_frequent_inlist(a_list):
    
    frequency = {}
    
    for element in a_list:
        if element in frequency:
            frequency[element] += 1
        else:
            frequency[element] = 1
            
    frequent_element = max(frequency, key = frequency.get)
    a_list.remove(frequent_element)
    return a_list

In [133]:
remove_most_frequent_inlist(list_a)

[0, 0, 2, 3, 3, 8, 2, 7]

**Question 7**

The given file "order_details.csv" contains the order ids, vendor ids, city and order quantity per 
transaction of some commodity. Find the following details from the data

a. The number of unique cities

b. The number of unique vendors

c. The list of vendor ids operating in Guwahati

d. Calculate the monthly average quantities of each city

In [39]:
import pandas as pd 
import numpy as np
import datetime as dt

In [40]:
order_data = pd.read_csv("order_details.csv")
order_data.head()

,transaction_id,transaction_time,vendor_id,city,quantity
0,bf83b73e-186b-11ec-a4db-c59ead35adf8,01-03-2021 00:02:00,e9993a3d-186a-11ec-a4db-c59ead35adf8,Ahmedabad,6079
1,bf83b73f-186b-11ec-a4db-c59ead35adf8,01-03-2021 00:14:38,e9993a3d-186a-11ec-a4db-c59ead35adf8,Ahmedabad,3428
2,bf83b740-186b-11ec-a4db-c59ead35adf8,01-03-2021 00:15:01,e9993a3f-186a-11ec-a4db-c59ead35adf8,Chandigarh,5461
3,bf83b741-186b-11ec-a4db-c59ead35adf8,01-03-2021 00:15:34,e9993a3f-186a-11ec-a4db-c59ead35adf8,Chandigarh,3447
4,bf83b742-186b-11ec-a4db-c59ead35adf8,01-03-2021 00:20:18,e9993a3e-186a-11ec-a4db-c59ead35adf8,Guwahati,2321

In [41]:
order_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45671 entries, 0 to 45670
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   transaction_id    45671 non-null  object
 1   transaction_time  45671 non-null  object
 2   vendor_id         45671 non-null  object
 3   city              45671 non-null  object
 4   quantity          45671 non-null  int64
dtypes: int64(1), object(4)
memory usage: 1.7+ MB

In [42]:
# the  number of unique cities

order_data['city'].nunique()

10

In [43]:
# the number of unique vendors

order_data['vendor_id'].nunique()

10

In [44]:
# The list of vendor ids operating in Guwahati

order_data[order_data['city']=='Guwahati']['vendor_id'].nunique()

2

In [46]:
order_data['transaction_time'] = pd.to_datetime(order_data['transaction_time'])
order_data['Month'] = order_data['transaction_time'].dt.strftime('%b')
order_data.head()

,transaction_id,transaction_time,vendor_id,city,quantity,Month
0,bf83b73e-186b-11ec-a4db-c59ead35adf8,2021-01-03 00:02:00,e9993a3d-186a-11ec-a4db-c59ead35adf8,Ahmedabad,6079,Jan
1,bf83b73f-186b-11ec-a4db-c59ead35adf8,2021-01-03 00:14:38,e9993a3d-186a-11ec-a4db-c59ead35adf8,Ahmedabad,3428,Jan
2,bf83b740-186b-11ec-a4db-c59ead35adf8,2021-01-03 00:15:01,e9993a3f-186a-11ec-a4db-c59ead35adf8,Chandigarh,5461,Jan
3,bf83b741-186b-11ec-a4db-c59ead35adf8,2021-01-03 00:15:34,e9993a3f-186a-11ec-a4db-c59ead35adf8,Chandigarh,3447,Jan
4,bf83b742-186b-11ec-a4db-c59ead35adf8,2021-01-03 00:20:18,e9993a3e-186a-11ec-a4db-c59ead35adf8,Guwahati,2321,Jan

In [55]:
# Calculate the monthly average quantities of each city

order_data.groupby(['Month','city'])['quantity'].mean()

Month  city
Apr    Ahmedabad     6068.906412
       Bangalore     6047.206081
       Bhopal        6098.687398
       Chandigarh    6005.118881
       Chennai       5994.659051
                        ...
Sep    Delhi         5789.537931
       Guwahati      5980.439490
       Kolkata       6216.842105
       Mumbai        6338.162162
       Noida         5746.679245
Name: quantity, Length: 120, dtype: float64

**Question 3:**

Given a string reverse position of all alphanumeric character but maintain position of all the 
special symbols and display the result. Example: 

input_string = ‘ab$24%736(849ldj’ 

the required 

output string should be = ‘jd$l9%486(3742ba’

In [183]:
def swap(input_string):
    
    length = len(input_string)

    end = length-1
    
    
    while length< end :
        p
        if not input_string[length].isalnum():
            length+=1
        
        elif not input_string[end].isalnum():
            end-=1
        
        else:
            x = input_string[length],
            input_string[length] = input_string[end], 
            input_string[end] = x
            
            length+=1
            end+=1
        
    return input_string

In [ ]:
i = ‘ab$24%736(849ldj"

In [ ]:
swap()